<template>
  <span>
    <svg id="clear-night" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m256 512c-141.485 0-256-114.495-256-256 0-138.939 109.916-249.944 244.802-255.755 7.171-.301 13.667 4.193 15.896 11.014s-.354 14.292-6.321 18.277c-49.077 32.777-78.377 87.531-78.377 146.464 0 97.047 78.953 176 176 176 48.132 0 93.063-19.057 126.517-53.661 4.99-5.162 12.807-6.367 19.119-2.951 6.313 3.417 9.578 10.619 7.986 17.619-26.125 114.892-128.935 198.993-249.622 198.993zm-61.935-471.396c-94.122 26.801-162.065 113.147-162.065 215.396 0 123.514 100.486 224 224 224 87.19 0 163.771-49.093 200.76-124.172-31.408 18.385-67.263 28.172-104.76 28.172-114.691 0-208-93.309-208-208 0-50.369 18.109-98.153 50.065-135.396z"/><path d="m416 192c-8.836 0-16-7.164-16-16 0-35.29-28.71-64-64-64-8.836 0-16-7.164-16-16s7.164-16 16-16c35.29 0 64-28.71 64-64 0-8.836 7.164-16 16-16s16 7.164 16 16c0 35.29 28.71 64 64 64 8.836 0 16 7.164 16 16s-7.164 16-16 16c-35.29 0-64 28.71-64 64 0 8.836-7.164 16-16 16zm-26.986-96c10.689 7.107 19.879 16.297 26.986 26.986 7.107-10.689 16.297-19.879 26.986-26.986-10.689-7.107-19.879-16.297-26.986-26.986-7.107 10.689-16.297 19.879-26.986 26.986z"/><path d="m304 313c-8.836 0-16-7.164-16-16 0-22.056-17.944-40-40-40-8.836 0-16-7.164-16-16s7.164-16 16-16c22.056 0 40-17.944 40-40 0-8.836 7.164-16 16-16s16 7.164 16 16c0 22.056 17.944 40 40 40 8.836 0 16 7.164 16 16s-7.164 16-16 16c-22.056 0-40 17.944-40 40 0 8.836-7.164 16-16 16zm-10.793-72c3.966 3.208 7.585 6.827 10.793 10.793 3.208-3.966 6.827-7.585 10.793-10.793-3.966-3.208-7.585-6.827-10.793-10.793-3.208 3.966-6.827 7.585-10.793 10.793z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'ClearNightIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
