<template>
  <span>
    <svg id="clouds" class="weather-icon__icon" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m424 424.5h-312c-61.757 0-112-50.243-112-112 0-53.88 37.943-98.533 88.081-109.436 2.343-64.12 55.237-115.564 119.919-115.564 48.54 0 89.514 28.544 108.62 68.999 62.24-18.504 124.343 28.942 123.369 93.457 40.917 7.54 72.011 43.479 72.011 86.544 0 48.523-39.477 88-88 88zm-216-305c-51.437 0-92.228 44.178-87.644 95.885.784 8.851-5.806 16.67-14.691 17.363-41.308 3.228-73.665 38.259-73.665 79.752 0 44.112 35.888 80 80 80h312c30.878 0 56-25.122 56-56 0-29.061-22.745-56-57.604-56-10.096 0-17.694-9.263-15.68-19.184 10.684-52.596-44.419-94.131-91.872-69.782-8.871 4.551-19.722-.04-22.617-9.596-11.139-36.762-45.775-62.438-84.227-62.438z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'Clouds',
  props: {
    size: {
      type: Number,
      default: 128
    }
    /*
    // Going to try to rely on CSS
    color: {
      type: String,
      required: false
    }
    */
  },
  computed: {
    styles () {
      const styles = { height: this.size + 'px', width: this.size + 'px' }
      /*
      if (this.color) {
        styles.stroke = this.color
        styles.fill = this.color
      }
      */
      return styles
    }
  }
}
</script>

<style lang="scss">
</style>
