<template>
  <span>
    <svg id="clouds-day" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m406 333.567c0-18.481-5.469-35.767-15.494-50.458 25.653-19.303 41.494-49.706 41.494-83.109 0-57.346-46.654-104-104-104-53.716 0-98.049 40.935-103.447 93.248-69.742-21.265-140.476 29.275-143.769 101.357-46.472 10.59-80.784 52.146-80.784 101.395 0 57.346 46.654 104 104 104h286c45.215 0 82-36.785 82-82 0-39.743-28.417-72.972-66-80.433zm-78-205.567c39.701 0 72 32.299 72 72 0 24.2-12.42 46.841-32.302 60.054-22.038-15.394-49.64-19.959-75.416-12.651-7.891-16.275-20.004-31.223-36.113-42.622-2.739-41.921 30.608-76.781 71.831-76.781zm62 336h-286c-39.701 0-72-32.299-72-72 0-37.344 29.121-68.872 66.296-71.776 8.858-.691 15.478-8.485 14.691-17.365-4.14-46.597 32.638-86.442 79.013-86.442 34.666 0 65.891 23.147 75.933 56.289 2.897 9.559 13.749 14.146 22.617 9.596 42.081-21.59 91.969 14.913 82.3 62.517-2.005 9.873 5.535 19.181 15.68 19.181 30.765 0 51.47 23.676 51.47 50 0 27.57-22.43 50-50 50z"/><path d="m328 80c8.837 0 16-7.164 16-16v-32c0-8.836-7.163-16-16-16s-16 7.164-16 16v32c0 8.836 7.163 16 16 16z"/><path d="m496 184h-32c-8.837 0-16 7.164-16 16s7.163 16 16 16h32c8.837 0 16-7.164 16-16s-7.163-16-16-16z"/><path d="m412.854 284.853c-6.249 6.249-6.249 16.379 0 22.627l22.627 22.627c6.248 6.249 16.378 6.249 22.627 0s6.249-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.378-6.248-22.627 0z"/><path d="m220.52 115.147c6.248 6.249 16.378 6.249 22.627 0s6.249-16.379 0-22.627l-22.627-22.627c-6.246-6.248-16.377-6.248-22.627 0-6.249 6.249-6.249 16.379 0 22.627z"/><path d="m424.167 119.833c4.095 0 8.189-1.562 11.313-4.687l22.627-22.627c6.249-6.249 6.249-16.379 0-22.627-6.248-6.248-16.379-6.249-22.627 0l-22.626 22.628c-10.11 10.109-2.813 27.313 11.313 27.313z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'CloudsDayIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
