<template>
  <span>
    <svg id="clouds-night" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m503.923 179.408c-6.313-3.415-14.13-2.208-19.119 2.955-17.015 17.609-39.877 27.308-64.374 27.308-49.384 0-89.56-40.176-89.56-89.56 0-29.99 14.914-57.853 39.895-74.534 5.968-3.985 8.553-11.456 6.324-18.276s-8.73-11.318-15.896-11.015c-88.233 3.796-154.085 83.979-139.484 172.177-69.47-19.146-137.7 31.618-140.925 102.183-46.483 10.595-80.784 52.154-80.784 101.395 0 57.346 46.654 104 104 104h286c45.215 0 82-36.785 82-82 0-39.743-28.417-72.972-66-80.433.052-8.304-1.159-17.139-3.688-25.647 53.218-12.705 96.885-54.982 109.6-110.934 1.591-7.001-1.675-14.204-7.989-17.619zm-63.923 234.633c0 27.57-22.43 50-50 50h-286c-39.701 0-72-32.299-72-72 0-37.344 29.121-68.872 66.296-71.776 8.857-.691 15.479-8.486 14.691-17.365-4.137-46.593 32.63-86.442 79.012-86.442 34.666 0 65.89 23.147 75.933 56.289 2.891 9.541 13.733 14.152 22.617 9.595 42.395-21.751 91.896 15.245 82.301 62.517-2.008 9.894 5.556 19.183 15.68 19.183 30.766-.001 51.47 23.674 51.47 49.999zm-52.949-135.619c-22.431-28.667-59.712-40.919-94.769-30.979-7.457-15.381-18.473-29.053-32.022-39.592-22.288-54.555-.027-118.783 53.854-146.729-9.862 17.769-15.245 37.994-15.245 58.987 0 82.708 81.451 141.753 160.384 115.278-17.489 22.528-43.036 38.162-72.202 43.035z"/><path d="m416 120.041h8v8c0 8.836 7.164 16 16 16s16-7.164 16-16v-8h8c8.836 0 16-7.164 16-16s-7.164-16-16-16h-8v-8c0-8.836-7.164-16-16-16s-16 7.164-16 16v8h-8c-8.836 0-16 7.164-16 16s7.164 16 16 16z"/><path d="m24 208.041h8v8c0 8.836 7.164 16 16 16s16-7.164 16-16v-8h8c8.836 0 16-7.164 16-16s-7.164-16-16-16h-8v-8c0-8.836-7.164-16-16-16s-16 7.164-16 16v8h-8c-8.836 0-16 7.164-16 16s7.164 16 16 16z"/><path d="m136 96.041h8v8c0 8.836 7.164 16 16 16s16-7.164 16-16v-8h8c8.836 0 16-7.164 16-16s-7.164-16-16-16h-8v-8c0-8.836-7.164-16-16-16s-16 7.164-16 16v8h-8c-8.836 0-16 7.164-16 16s7.164 16 16 16z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'CloudsNightIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
