<template>
  <span>
    <svg id="drizzle" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m440.489 162.456c.969-64.22-60.818-112.053-123.369-93.457-19.103-40.448-60.072-68.999-108.62-68.999-64.682 0-117.576 51.444-119.919 115.564-50.2 10.917-88.081 55.622-88.081 109.436 0 61.757 50.243 112 112 112h312c48.523 0 88-39.477 88-88 0-43.065-31.094-79.004-72.011-86.544zm-15.989 142.544h-312c-44.112 0-80-35.888-80-80 0-41.493 32.357-76.524 73.665-79.751 8.857-.691 15.477-8.485 14.691-17.363-4.579-51.657 36.161-95.886 87.644-95.886 38.452 0 73.088 25.676 84.228 62.438 2.891 9.541 13.733 14.154 22.617 9.596 46.939-24.085 102.675 16.599 91.872 69.782-2.008 9.894 5.555 19.184 15.68 19.184 34.708 0 57.604 26.78 57.604 56-.001 30.878-25.123 56-56.001 56z"/><path d="m256.5 361c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m384.5 361c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m128.5 361c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m192.5 449c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m320.5 449c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m448.5 449c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/><path d="m64.5 449c-8.836 0-16 7.164-16 16v32c0 8.836 7.164 16 16 16s16-7.164 16-16v-32c0-8.836-7.164-16-16-16z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'DrizzleIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
