<template>
  <span>
    <svg id="rain" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m424.502 337h-312c-61.757 0-112-50.243-112-112 0-53.88 37.943-98.533 88.081-109.436 2.343-64.12 55.237-115.564 119.919-115.564 48.54 0 89.514 28.544 108.62 68.999 62.24-18.504 124.343 28.942 123.369 93.457 40.917 7.541 72.011 43.479 72.011 86.544 0 48.523-39.477 88-88 88zm-216-305c-51.437 0-92.228 44.178-87.644 95.885.784 8.851-5.806 16.67-14.691 17.363-41.308 3.228-73.665 38.259-73.665 79.752 0 44.112 35.888 80 80 80h312c30.878 0 56-25.122 56-56 0-29.061-22.745-56-57.604-56-10.096 0-17.694-9.263-15.68-19.184 10.684-52.596-44.419-94.131-91.872-69.782-8.872 4.552-19.722-.041-22.617-9.596-11.139-36.762-45.775-62.438-84.227-62.438z"/><path d="m312.49 457.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.952-7.904 13.564-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m456.49 457.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.952-7.904 13.563-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m168.49 457.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.951-7.904 13.564-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m24.49 457.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.951-7.904 13.564-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m216.49 513.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.952-7.904 13.563-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m360.49 513.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.952-7.904 13.563-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/><path d="m72.49 513.003c-11.758 0-19.652-12.453-14.299-23.159l32-64c3.952-7.904 13.563-11.107 21.466-7.156 7.904 3.952 11.107 13.563 7.156 21.466l-32 64c-2.803 5.608-8.455 8.849-14.323 8.849z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'RainIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">

</style>
