<template>
  <span>
    <svg id="snow" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m424.5 337h-312c-61.757 0-112-50.243-112-112 0-53.88 37.943-98.533 88.081-109.436 2.343-64.12 55.237-115.564 119.919-115.564 48.541 0 89.515 28.546 108.619 68.999 61.918-18.408 124.285 28.529 123.37 93.457 40.917 7.54 72.011 43.479 72.011 86.544 0 48.523-39.477 88-88 88zm-216-305c-51.437 0-92.228 44.178-87.644 95.885.784 8.851-5.806 16.67-14.691 17.363-41.308 3.228-73.665 38.259-73.665 79.752 0 44.112 35.888 80 80 80h312c30.879 0 56-25.122 56-56 0-29.087-22.773-56-57.604-56-10.096 0-17.695-9.263-15.68-19.184 10.678-52.595-44.411-94.137-91.872-69.782-8.886 4.559-19.727-.056-22.617-9.595-11.139-36.763-45.775-62.439-84.227-62.439z"/><circle cx="256.5" cy="385" r="16"/><circle cx="192.5" cy="441" r="16"/><circle cx="64.5" cy="441" r="16"/><circle cx="320.5" cy="441" r="16"/><circle cx="448.5" cy="441" r="16"/><circle cx="384.5" cy="385" r="16"/><circle cx="128.5" cy="385" r="16"/><circle cx="256.5" cy="497" r="16"/><circle cx="384.5" cy="497" r="16"/><circle cx="128.5" cy="497" r="16"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'SnowIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
