<template>
  <span>
    <svg id="squall" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m498.373 96.177c-341.503-51.226-321.334-48.622-325.209-47.92-4.813.864 4.553-4.631-125.164 81.847v-70.409c9.555-5.542 16-15.877 16-27.695 0-17.645-14.355-32-32-32s-32 14.355-32 32c0 11.818 6.445 22.153 16 27.695v436.305c0 8.836 7.163 16 16 16s16-7.164 16-16v-306.104c126.961 84.641 119.581 79.821 121.158 80.566 1.723.818 3.671 1.325 5.489 1.477 2.903.243-19.177 3.319 323.726-48.116 7.833-1.175 13.627-7.903 13.627-15.823v-96c0-7.92-5.794-14.648-13.627-15.823zm-306.373-13.598 32 4.8v145.242l-32 4.8zm64 9.6 32 4.8v126.042l-32 4.8zm64 9.6 32 4.8v106.842l-32 4.8zm64 9.6 32 4.8v87.642l-32 4.8zm-224-17.483v132.207l-99.155-66.103zm320 100.325-32 4.8v-78.042l32 4.8z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'SquallIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
