<template>
  <span>
    <svg id="thunderstorm" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m440.5 162.44c.923-64.813-61.524-111.963-123.384-93.471-19.142-40.508-60.156-68.969-108.605-68.969-64.682 0-117.576 51.446-119.919 115.565-85.204 18.523-118.471 125.469-55.278 188.625 21.146 21.158 49.272 32.81 79.197 32.81h55.956l-22.003 40.338c-5.804 10.64 1.906 23.662 14.046 23.662h80v96c0 7.314 4.959 13.697 12.046 15.504 7.039 1.796 14.475-1.38 17.999-7.842l91.454-167.662h62.502c48.523 0 88-39.477 88-88 0-43.472-31.375-79.141-72.011-86.56zm-167.989 271.813v-49.253c0-8.836-7.163-16-16-16h-69.047c9.682-17.751 39.265-71.986 53.047-97.253v49.253c0 8.836 7.164 16 16 16h69.047zm152-129.253c-14.952 0-137.016 0-152 0v-96c0-7.314-4.959-13.697-12.047-15.504-7.087-1.806-14.497 1.422-17.999 7.842l-56.543 103.662h-73.411c-44.202 0-80-35.769-80-80 0-41.496 32.357-76.526 73.665-79.749 8.855-.692 15.474-8.478 14.694-17.354-4.584-52.11 36.553-95.897 87.641-95.897 38.453 0 73.089 25.676 84.228 62.439 2.895 9.557 13.745 14.144 22.613 9.598 47.427-24.319 102.565 17.132 91.88 69.779-2.006 9.876 5.534 19.184 15.68 19.184 34.922 0 57.6 26.844 57.6 56-.001 30.878-25.122 56-56.001 56z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'CloudsIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
