<template>
  <span>
    <svg id="tornado" class="weather-icon__icon" enable-background="new 0 0 513.001 513.001" height="512" viewBox="0 0 513.001 513.001" width="512" xmlns="http://www.w3.org/2000/svg" :style="styles">
      <g><path d="m443.022 81.286c8.203-18.292 13.646-39.625 13.646-65.286 0-8.836-7.163-16-16-16h-368c-8.837 0-16 7.164-16 16 0 16.664.001 32.611.464 48h-32.464c-8.837 0-16 7.164-16 16s7.163 16 16 16h34.322c1.641 17.761 4.448 34.867 9.233 51.594-44.836 12.725-67.555 30.317-67.555 52.406 0 44.632 92.923 61.431 151.865 67.59 7.153 5.851 14.751 11.655 22.836 17.429 27.907 19.934 46.985 45.044 57.073 74.98h-23.773c-8.837 0-16 7.164-16 16s7.163 16 16 16h30.908c4.023 33.474-2.01 70.288-11.282 93.856-6.44 7.854-5.132 21.573 5.91 26.242 5.117 2.162 11.411 1.527 16.157-2.193 11.054-3.369 35.468-12.224 59.9-30.528 30.294-22.696 66.406-64.607 66.406-135.377 0-5.844-.103-11.146-.292-16h24.292c8.837 0 16-7.164 16-16s-7.163-16-16-16h-27.579c-4.981-26.677-12.421-31.358-12.421-80 0-10.817 2.557-20.324 6.922-29.338 38.353-3.931 71.081-9.85 95.046-17.21 21.478-6.597 50.031-18.071 50.031-41.451.001-20.622-22.262-35.653-69.645-46.714zm-410.253 118.707c1.602-3.407 12.807-13.031 46.58-22.286 8.418 18.274 19.633 35.525 33.959 52.128-17.842-3.188-33.68-7.038-46.901-11.446-24.29-8.099-32.36-15.819-33.638-18.396zm295.899 128.007h15.681c.205 4.757.319 10.043.319 16 0 57.706-28.67 99.921-78.014 124.853 5.663-24.962 7.743-51.289 5.113-76.853h24.901c8.837 0 16-7.164 16-16s-7.163-16-16-16h-30.855c-9.486-34.467-28.4-64.397-56.045-88.523 10.184.344 20.493.523 30.9.523 8.837 0 16-7.164 16-16s-7.163-16-16-16c-25.934 0-51.221-1.125-75.277-3.319-48.92-42.079-68.652-82.956-74.339-140.681h149.616c8.837 0 16-7.164 16-16s-7.163-16-16-16h-151.544c-.308-10.243-.41-20.882-.441-32h335.083c-6.713 57.943-49.174 85.541-75.349 124.296-29.01 2.448-59.817 3.704-91.748 3.704-8.837 0-16 7.164-16 16s7.163 16 16 16c26.039 0 51.378-.814 75.675-2.407-2.333 8.168-3.675 16.91-3.675 26.407 0 48.666 7.15 60.416 11.712 80h-11.712c-8.837 0-16 7.164-16 16s7.162 16 15.999 16zm64.282-176.621c11.25-12.994 22.766-25.558 33.456-40.982 33.64 6.97 47.085 14.055 52.098 17.653-7.862 5.583-32.043 15.786-85.554 23.329z"/></g>
    </svg>
  </span>
</template>

<script>
export default {
  name: 'TornadoIcon',
  props: {
    size: {
      type: Number,
      default: 128
    }
  },
  computed: {
    styles () {
      return { height: this.size + 'px', width: this.size + 'px' }
    }
  }
}
</script>

<style lang="scss">
</style>
