<template>
  <div class="city-search">
    <label for="citySearchInput"></label>
    <input
      v-model="citySearch"
      id="citySearchInput"
      type="text"
      Placeholder="City name (e.g. Sydney)"
      @keypress.enter="handleCitySearch"
    />
    <button class="city-search__button--search" @click="handleCitySearch">Go</button>
  </div>
</template>

<script>
import * as forecastApi from '@/api/forecast.js'

import { mapMutations } from 'vuex'

export default {
  name: 'CitySearch',
  data () {
    return {
      citySearch: null
    }
  },
  methods: {
    ...mapMutations({
      setFiveDayForecast: 'SET_FIVE_DAY_FORECAST',
      setCityName: 'SET_CITY_NAME',
      setGeolocationErrorMessage: 'SET_GEOLOCATION_ERROR_MESSAGE'
    }),
    async handleCitySearch () {
      try {
        const forecastApiResult = await forecastApi.get5DayForecastByCityName(this.citySearch)
        this.setGeolocationErrorMessage(null)
        this.setFiveDayForecast(forecastApiResult.days)
        this.setCityName(forecastApiResult.cityName)
      } catch (error) {
        this.setGeolocationErrorMessage(null)
        this.setFiveDayForecast([])
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/styles/variables.scss';

.city-search {
  position: relative;
  top: 16px;
  left: 16px;
  width: 280px;

  label {
    position: relative;
  }

  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 25px;
    background-color: #2b2b61;
    mask-image: url("../assets/icons/location.svg");
  }

  input {
    width: 100%;
    padding: 10px 30px 10px 40px;
    border-radius: 20px;
    border: transparent;
    font-size: 16px;
    box-sizing: border-box;

    &:focus{
      outline: none;
    }
  }

  &__button {
    &--search {
      position: absolute;
      right: -1px;
      top: 0px;
      background-color: $primary-button-color;
      border-radius: 50%;
      border: 0;
      color: $primary-text-color;
      width: 40px;
      height: 40px;
      padding: 0 10px;
      outline: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $primary-button-hover-color;
      }
    }
  }
}

// NIGHT MODE ==============================================
.night-mode {
  .city-search {
    label:before {
      background-color: $night-mode-placeholder-color;
    }

    input {
      background-color: #2e0d15;
      color: $primary-night-mode-text-color;

      &::placeholder {
        color: $night-mode-placeholder-color;
      }
    }

    &__button {
      &--search {
        background-color: $primary-night-mode-button-color;
        color: #edd;

        &:hover {
          background-color: $primary-night-mode-button-hover-color;
        }
      }
    }
  }
}
</style>
