<template>
  <div class="night-mode-toggle" :style="cssVariables">
    <input v-model="isNightMode" type="checkbox" :aria-pressed="isNightMode" @change="handleToggle" />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'NightModeToggle',
  props: {
    width: {
      type: Number,
      default: 50
    }
  },
  data () {
    return {
      isNightMode: false
    }
  },
  computed: {
    cssVariables () {
      return {
        '--width': (this.width) + 'px',
        '--height': (this.width / 2) + 'px',
        '--border-radius': (this.width / 4) + 'px'
      }
    }
  },
  methods: {
    ...mapMutations({
      setNightMode: 'SET_NIGHT_MODE'
    }),
    handleToggle () {
      this.setNightMode(this.isNightMode)
    }
  }
}
</script>

<style lang="scss">
  .night-mode-toggle {
    position: absolute;
    right: 16px;
    top: 19px;

    input {
      cursor: pointer;
      -webkit-appearance: none;
      width: var(--width);
      height: var(--height);
      position: relative;
      // TODO: background image?
      background-color: #a1cdec;
      background-size: cover;
      border-radius: var(--border-radius);
      outline: none;
      transition: background-image .9s;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: var(--height);
        width: var(--height);
        transition: all .9s;
        // TODO: background image?
        background-color:#f7ca33;
        border-radius: var(--border-radius);
      }

      &:checked {
        // background-image
        // transition: background-image .9s;
        transition: background-color .9s;
        // background-color: #182565;
        background-color: #111;
      }

      &:checked::before {
        transform: translate(100%);
        transition: all .9s;
        background-color: #e1dedc;
      }
    }
  }

</style>
