<template>
  <div class="weather-icon">
    <!-- TODO: tighten this up -->

    <ThunderstormIcon v-if="weatherType === 'Thunderstorm' && isNightMode" />
    <img v-else-if="weatherType === 'Thunderstorm'" :src="require('@/assets/icons/weather-color-png/013-thunder.png')" />

    <DrizzleIcon v-else-if="weatherType === 'Drizzle' || weatherType === 'Mist' && isNightMode" />
    <img v-else-if="weatherType === 'Drizzle' || weatherType === 'Mist'" :src="require('@/assets/icons/weather-color-png/021-rain.png')" />

    <RainIcon v-else-if="weatherType === 'Rain' && isNightMode" />
    <img v-else-if="weatherType === 'Rain'" :src="require('@/assets/icons/weather-color-png/002-rainy.png')" />

    <SnowIcon v-else-if="weatherType === 'Snow' && isNightMode" />
    <img v-else-if="weatherType === 'Snow'" :src="require('@/assets/icons/weather-color-png/003-snowy.png')" />

    <CloudsDayIcon v-else-if="weatherType === 'Clouds' && isDaytime && isNightMode" />
    <CloudsNightIcon v-else-if="weatherType === 'Clouds' && !isDaytime && isNightMode" />
    <img v-else-if="weatherType === 'Clouds' && isDaytime" :src="require('@/assets/icons/weather-color-png/010-cloudy day.png')" />
    <img v-else-if="weatherType === 'Clouds' && !isDaytime" :src="require('@/assets/icons/weather-color-png/011-cloudy night.png')" />

    <SquallIcon v-else-if="weatherType === 'Squall' && isNightMode" />
    <img v-else-if="weatherType === 'Squall'" :src="require('@/assets/icons/weather-color-png/020-wind vane.png')" />

    <TornadoIcon v-else-if="weatherType === 'Tornado' && isNightMode" />
    <img v-else-if="weatherType === 'Tornado'" :src="require('@/assets/icons/weather-color-png/015-tornado.png')" />

    <ClearDayIcon v-else-if="weatherType === 'Clear' && isDaytime && isNightMode" />
    <ClearNightIcon v-else-if="weatherType === 'Clear' && !isDaytime && isNightMode" />
    <img v-else-if="weatherType === 'Clear' && isDaytime" :src="require('@/assets/icons/weather-color-png/005-sun.png')" />
    <img v-else-if="weatherType === 'Clear' && !isDaytime" :src="require('@/assets/icons/weather-color-png/006-night.png')" />

    <!-- Smoke, Haze, Dust, Fog, Sand, Ash - Everything else becomes clouds -->
    <CloudsIcon v-else-if="isNightMode" color="#444" />
    <img v-else :src="require('@/assets/icons/weather-color-png/009-cloudy.png')" />
  </div>
</template>

<script>
/*
case 'Thunderstorm':
case 'Drizzle':
case 'Rain':
case 'Snow':
case 'Mist':
case 'Smoke':
case 'Haze':
case 'Dust':
case 'Fog':
case 'Sand':
case 'Ash':
case 'Squall':
case 'Tornado':
case 'Clear':
case 'Clouds':
*/
import ThunderstormIcon from '@/components/icons/weather/ThunderstormIcon.vue'
import DrizzleIcon from '@/components/icons/weather/DrizzleIcon.vue'
import RainIcon from '@/components/icons/weather/RainIcon.vue'
import SnowIcon from '@/components/icons/weather/SnowIcon.vue'
import CloudsDayIcon from '@/components/icons/weather/CloudsDayIcon.vue'
import CloudsNightIcon from '@/components/icons/weather/CloudsNightIcon.vue'
import SquallIcon from '@/components/icons/weather/SquallIcon.vue'
import TornadoIcon from '@/components/icons/weather/TornadoIcon.vue'
import ClearDayIcon from '@/components/icons/weather/ClearDayIcon.vue'
import ClearNightIcon from '@/components/icons/weather/ClearNightIcon.vue'
import CloudsIcon from '@/components/icons/weather/CloudsIcon.vue'
import { mapState } from 'vuex'

export default {
  name: 'WeatherIcon',
  components: {
    ThunderstormIcon,
    DrizzleIcon,
    RainIcon,
    SnowIcon,
    CloudsDayIcon,
    CloudsNightIcon,
    SquallIcon,
    TornadoIcon,
    ClearDayIcon,
    ClearNightIcon,
    CloudsIcon
  },
  props: {
    weatherType: {
      type: String,
      required: true
    },
    temperature: {
      type: Number,
      required: true
    },
    timestamp: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      icon: null
    }
  },
  computed: {
    ...mapState([
      'isNightMode'
    ]),
    isDaytime () {
      const date = new Date(this.timestamp * 1000)
      return (date.getHours() > 6 || date.getHours() < 19)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.weather-icon {
  img {
    width: 128px;
    height: 128px;
  }

  &__icon {
    fill: #efefef;
  }
}

.night-mode {
  .weather-icon {
    &__icon {
      fill: $night-mode-icon-color;
    }
  }
}
</style>
