<template>
  <div class="weather">
    <template v-if="isFetchingCoordinates || isApiLoading">
      <LoadingSpinner class="weather__loading-spinner" />
        <div class="weather__day weather__day--loading">
          <div class="weather__day--day-of-week">
            Current conditions
          </div>
          <div class="weather__day--date-time">31 Aug 2020</div>
          <div class="weather__day--weather-description">Clear</div>
          <div class="weather__day--weather-type">
            <WeatherIcon weatherType="Clouds" :temperature="20" :timestamp="123" />
          </div>
          <div class="weather__day--temperature">
            <span>24</span><span class="degrees">°C</span>
          </div>
        </div>
    </template>

    <template v-else-if="geolocationErrorMessage">
      <div class="weather__error">
        <h1>Whoops!</h1>

        <h2>The widget wasn't able to figure out your location in time</h2>

        <h3>You may do one of the following:</h3>

        <ul>
          <li>Type a city name in the search field above and tap "Go"</li>
          <li>Confirm that you are <a href="https://docs.buddypunch.com/en/articles/919258-how-to-enable-location-services-for-chrome-safari-edge-and-android-ios-devices-gps-setting" target="_blank">sharing location information</a> with this widget and reload the page</li>
        </ul>
      </div>
    </template>

    <template v-else-if="fiveDayForecast.length === 0">
      <div class="weather__error">
        <h1>Uh oh!</h1>

        <h2>We couldn't find any weather information for that location</h2>

        <h3>Please edit the city name and try again</h3>
      </div>
    </template>

    <template v-else>
      <agile ref="carousel" :dots="false" :navButtons="false" :infinite="false" @after-change="handleSwipe">
        <div v-for="day in fiveDayForecast" :key="day.timestamp" class="weather__day">

          <div class="weather__day--day-of-week">
            <template v-if="dayIndex === 0">
              Current conditions
            </template>
            <template v-else>
              {{ timestampToDay(day.timestamp) }}
            </template>
          </div>

          <div class="weather__day--date-time">
            <template v-if="dayIndex > 0">
              {{ timestampToHumanReadableDate(day.timestamp) }}
            </template>
          </div>

          <div class="weather__day--weather-description">
            {{ firstCharacterToUpper(day.weatherDescription) }}
          </div>

          <div class="weather__day--weather-type">
            <WeatherIcon :weatherType="day.weatherType" :temperature="day.temperature" :timestamp="day.timestamp" />
          </div>

          <div class="weather__day--temperature">
            <span>{{ day.temperature }}</span><span class="degrees">°C</span>
          </div>
        </div>
      </agile>

      <nav v-show="isPreviousDayNavShown" class="previous-day" @click="handleNavClick('previous')">
        <PreviousChevronIcon :size="12" class="navigation-chevron--previous" />{{ previousDayNavText }}
      </nav>
      <nav v-show="isNextDayNavShown" class="next-day" @click="handleNavClick('next')">
        {{ nextDayNavText }}<NextChevronIcon :size="12" class="navigation-chevron--next" />
      </nav>

      <div class="weather__city-name">
        {{ cityName }}
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import { VueAgile } from 'vue-agile'

import LoadingSpinner from '@/components/LoadingSpinner'
import WeatherIcon from '@/components/WeatherIcon'
import PreviousChevronIcon from '@/components/icons/PreviousChevronIcon'
import NextChevronIcon from '@/components/icons/NextChevronIcon'

const MAXIMUM_DAYS = 5

export default {
  name: 'Weather',
  components: {
    LoadingSpinner,
    agile: VueAgile,
    WeatherIcon,
    PreviousChevronIcon,
    NextChevronIcon
  },

  props: {
  },
  data () {
    return {
      dayIndex: 0
    }
  },
  computed: {
    ...mapState([
      'isFetchingCoordinates',
      'isApiLoading',
      'geolocationErrorMessage',
      'fiveDayForecast',
      'cityName'
    ]),
    isPreviousDayNavShown () {
      return this.fiveDayForecast.length && this.dayIndex > 0
    },
    isNextDayNavShown () {
      return this.fiveDayForecast.length && this.dayIndex < MAXIMUM_DAYS - 1
    },
    previousDayNavText () {
      if (this.dayIndex === 0) return 'Current'
      return this.timestampToDay(this.fiveDayForecast[this.dayIndex - 1].timestamp)
    },
    nextDayNavText () {
      if (this.dayIndex >= MAXIMUM_DAYS - 1) return
      return this.timestampToDay(this.fiveDayForecast[this.dayIndex + 1].timestamp)
    }
  },
  methods: {
    timestampToDate (timestamp) {
      return new Date(timestamp * 1000)
    },
    timestampToDay (timestamp) {
      const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      const dayIndex = new Date(timestamp * 1000).getDay()
      return dayNames[dayIndex]
    },
    timestampToHumanReadableDate (timestamp) {
      const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      const date = this.timestampToDate(timestamp)
      return `${date.getDate()} ${monthNames[date.getMonth()]} ${date.getFullYear()}` // ex. 22 Nov 2019
    },
    firstCharacterToUpper (string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    handleSwipe (slideCurrent) {
      this.dayIndex = slideCurrent.currentSlide
    },
    handleNavClick (direction) {
      if (direction === 'next') {
        this.$refs.carousel.goToNext()
      } else if (direction === 'previous') {
        this.$refs.carousel.goToPrev()
      }
      this.dayIndex = this.$refs.carousel.getCurrentSlide()
    }
  },
  async created () {
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.weather {
  position: relative;
  user-select: none;

  &__loading-spinner {
    left: 150px;
    position: absolute;
  }

  &__error {
    position: relative;
    padding: 32px;
    top: 56px;
    color: $primary-text-color;
    text-align: center;

    h1 {
      font-size: 40px;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 22px;
      margin-bottom: 16px;
    }
    ul {
      font-size: 18px;
      text-align: left;
      list-style-type: disc;
      padding-left: 22px;

      li {
        padding-bottom: 8px;
        a {
          color: #a1cdec;
          &:hover {
            color: #a1cdec;
          }
        }
      }
    }
  }

  nav {
    height: 32px;
    background-color: $primary-nav-button-color;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 308px;
    line-height: 31px;
    transition: 0.3s;

    &:hover {
      background-color: $primary-nav-button-hover-color;
    }

    &.previous-day {
      position: absolute;
      left: 16px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      padding: 0 16px 0 8px;

      color: $primary-text-color;
    }
    &.next-day {
      position: absolute;
      right: 16px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      padding: 0 8px 0 16px;

      color: $primary-text-color;
    }

    .navigation-chevron {
      &--previous {
        padding-right: 8px;
      }

      &--next {
        padding-left: 8px;
      }
    }
  }

  &__day {
    width: 100%;
    height: 411px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;

    color: $primary-text-color;

    &--loading {
      filter: blur(12px);
    }

    &--day-of-week {
      font-size: 36px;
    }

    &--date-time {
      height: 16px;
      font-size: 16px;
      margin-bottom: 24px;
    }

    &--weather-description {
      font-size: 24px;
      margin-bottom: 16px;
    }

    &--weather-type {
      width: 128px;
      display: inline-block;
    }

    &--temperature {
      position: relative;
      font-size: 128px;
      top: 4px;
      float: right;

      .degrees {
        position: relative;
        font-size: 32px;
        vertical-align: top;
        top: 15px;
      }
      margin-bottom: 32px;
    }
  }

  &__city-name {
    width: 100%;
    height: 44px;
    font-size: 36px;
    text-align: center;
    position: absolute;
    bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 32px;
    box-sizing: border-box;

    color: $primary-text-color;
    user-select: text;
  }
}

// NIGHT MODE ======================================================
.night-mode {
  .weather {
    nav {
      background-color: $primary-night-mode-nav-button-color;

      &:hover {
        background-color: $primary-night-mode-nav-button-hover-color;
      }

      &.previous-day {
        color: $primary-nav-button-text;
      }
      &.next-day {
        color: $primary-nav-button-text;
      }
    }

    &__day {
      color: $primary-night-mode-text-color;
    }

    &__city-name {
      color: $primary-night-mode-text-color;
    }
  }
}

</style>
