<template>
  <div class="widget">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Widget'
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.widget {
  width: 400px;
  height: 450px;
  position: relative;

  background-color: $background-color;
  transition: 0.3s;
  margin: auto;
  top: 100px;
  border-radius: 8px;
}

.night-mode {
  .widget {
    background-color: $night-mode-background-color;
  }
}
</style>
