<template>
  <div id="app" :class="{ 'night-mode': isNightMode }">
    <Widget>
      <CitySearch />
      <NightModeToggle />
      <Weather />
    </Widget>
  </div>
</template>

<script>
import Widget from '@/components/Widget.vue'
import CitySearch from '@/components/CitySearch.vue'
import NightModeToggle from '@/components/NightModeToggle.vue'
import Weather from '@/components/Weather.vue'

import { mapState, mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    Widget,
    CitySearch,
    NightModeToggle,
    Weather
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapState([
      'isNightMode'
    ])
  },
  created () {
    this.setGeolocationCoordinatesToCurrentLocation()
  },
  methods: {
    ...mapActions([
      'setGeolocationCoordinatesToCurrentLocation'
    ])
  }
}
</script>

<style lang="scss">
@import './assets/styles/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

html, body {
  height: 100%;
}

#app {
  background-color: #dfdfdf;
  background-image: url("assets/koala-bg.png");
  width: 100%;
  height: 100%;

  font-family: Mukta, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
