
$background-color: #449;
$primary-text-color: #fff;
$secondary-text-color: #ddd;
$primary-button-color: #36367a;
$primary-button-hover-color: #2b2b61;
/* $icon-color: #efefef; // Using PNGs for daymode icons */
$primary-nav-button-text: #fff;
$primary-nav-button-color: rgba(0, 0, 0, 0.1);
$primary-nav-button-hover-color: rgba(0, 0, 0, 0.2);

$night-mode-background-color: #323;
$primary-night-mode-text-color: #f29fa9;
$secondary-night-mode-text-color: #de959d;
$primary-night-mode-button-color: #a13852;
$primary-night-mode-button-hover-color: #822e42;
$night-mode-icon-color: #f29fa9;
$primary-nav-button-text: #f29fa9;
$primary-night-mode-nav-button-color: rgba(0, 0, 0, 0.2);
$primary-night-mode-nav-button-hover-color: rgba(0, 0, 0, 0.3);
$night-mode-placeholder-color: #9c7e81;